.headingtop{
    text-align: center;
    height: 150px;
    width: 100%;
    background-color: #4cae4c;
    color: whitesmoke;
    margin-top: -20px;
}
.headingwrite{
    padding-top: 50px;
}
.formwidth{

}
.lablewidth{

    color: white;
}
.buttonwidth{

}
.margintop{
    margin-top: 5px;
}





