


body {
    font: 14px/1.4 arial;
}

.imgWrap {
    position: relative;
    height: 421px;
    width: 270px;
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;


    visibility: hidden;
    opacity: 0;

    /*remove comment if you want a gradual transition between states
    -webkit-transition: visibility opacity 0.2s;
    */
}


.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.background{
    background-color: lightgoldenrodyellow ;
}

.rightmaring{
margin-right: -45px;
}
.rightmaring2{
    margin-right: -20px;
}
.navbartopmargin{
    margin-top: 7px;
}

.slidemargin{
    margin-top: -19.90px;
}